VITE_API_BASE_URL=https://be-stacklink-app-production.up.railway.app
VITE_DEV_PROXY_TARGET=http://127.0.0.1:5000
VITE_SUPABASE_URL=https://ccwagogchedkixdqezme.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_sIxVAwapfBG9ZGstZTuHDQ_Zt4usgVr
